.body{
    font-family: Raleway;
    font-size: medium;
    color: #FFFFFF;
    font-weight: normal;
}

.calculadora{
    position: static;
    width: 408px;
    padding-top: 25px;
    padding-bottom: ;
    top: 45px;
    
    background: #363A50;
    border-radius: 20px;
    
    /* Inside auto layout */
}

.titulo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    
    text-transform: uppercase;

    color: #FFFFFF;
}

div.bloques{
    padding-top: 10px;
}

div.bloque.bloque-text{
    padding-bottom: ;
}

div.bloque.bloque-input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

div.bloque.bloque-resultado{
    background-color: green;
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
    width: 100%;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    font-size: 30px;
}

div.bloque-text-resultado{
    font-size: 15px;
    width: 100%;
}

form-control{
    border-radius:20px;
}

ins{
    text-decoration: none;
    font-weight: bold;
    font-size:20px;
}